html{
    height: 100%;
    scrollbar-color: #191726 #9fb3aa;
}

body {
    height: 100%;
    margin: 0;
    color: #191726;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4vw;
    text-align: center;
    margin: 0 0 -2vw;
}

a {
    color: #191726;
    text-decoration: none;
}

#flag-outer-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #9FB3AA;
    font-family: 'Montserrat', sans-serif;

}

#flag-inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.flag img {
    width: 30vw;
    max-width: 300px;
    opacity: 30%;
}

.flag:hover img,
.flag:active img {
    opacity: 100%;
}


@media screen and (max-width: 600px) and (orientation: portrait){
    h1 {
        font-size: 8vw;
        margin-bottom: -3vw;
    }

    #flag-inner-container {
        padding-top: 5vw;
    }

    .flag img {
        width: 40vw;
        padding: 0 10vw;
    }
}
